<aside>
    <a href="#" class="logo">LOGO</a>
    <div class="sideLinks">
      <a href="/users" class="<%= currentPath=='users'?'active':'' %>"><i class="fa-solid fa-user"></i> Users</a>
      <a href="/posts" class="<%= currentPath=='posts'?'active':'' %>"><i class="fa-solid fa-blog"></i> Posts</a>
    </div>
    <a href="/logOut" class="logOut">Log Out</a>
  </aside>